appdirs==1.4.4
attrs==21.4.0
beautifulsoup4==4.10.0
bs4==0.0.1
cattrs==1.10.0
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
comtypes==1.1.10
decorator==5.1.1
distlib==0.3.4
docopt==0.6.2
feedparser==6.0.8
filelock==3.4.2
Flask==2.0.2
forex-python==1.8
freegames==2.4.0
future==0.18.2
gazpacho==1.1
geocoder==1.38.1
geographiclib==1.52
geopy==2.2.0
idna==3.3
itsdangerous==2.0.1
jaraco.context==4.1.1
Jinja2==3.0.2
joblib==1.1.0
Js2Py==0.71
MarkupSafe==2.0.1
more-itertools==8.12.0
MouseInfo==0.1.3
numpy==1.22.2
packaging==21.3
Pillow==9.0.0
pipwin==0.5.1
platformdirs==2.4.1
poetpy==1.1.1
PyAudio @ file:///C:/Users/User/Downloads/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
PyAutoGUI==0.9.53
pygame==2.1.2
PyGetWindow==0.0.9
pyjokes==0.6.0
pyjsparser==2.7.1
PyJWT==2.3.0
PyMsgBox==1.0.9
pyparsing==3.0.6
pyperclip==1.8.2
pypiwin32==223
PyPrind==2.11.3
PyRect==0.1.4
PyScreeze==0.1.28
pySmartDL==1.3.4
pyttsx3==2.90
pytweening==1.0.4
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywhatkit==5.2
pywikihow==0.5.7
pywin32==303
quote==2.0.4
ratelim==0.1.6
requests==2.26.0
requests-cache==0.9.3
scikit-learn==1.0.2
scipy==1.8.0
sgmllib3k==1.0.0
simplejson==3.17.6
six==1.16.0
sklearn==0.0
soupsieve==2.3.1
SpeechRecognition==3.8.1
speedtest-cli==2.1.3
threadpoolctl==3.1.0
tzdata==2021.5
tzlocal==4.1
url-normalize==1.4.3
urllib3==1.26.7
virtualenv==20.13.1
Werkzeug==2.0.2
wikipedia==1.4.0
winshell==0.6
wolframalpha==5.0.0
xmltodict==0.12.0
