beautifulsoup4==4.10.0
forex_python==1.8
geopy==2.2.0
poetpy==1.1.1
PyAudio==0.2.11
pyautogui==0.9.53
pygame==2.1.2
pyjokes==0.6.0
pyttsx3==2.90
pywhatkit==5.3
pywikihow==0.5.7
quote==2.0.4
requests==2.27.1
SpeechRecognition==3.8.1
speedtest==0.0.1
wikipedia==1.4.0
winshell==0.6
wolframalpha==5.0.0
